<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body >
<form class="ui-filterable">
    <input id="filterBasic-input" data-type="search">
</form>
<ul data-role="listview" data-filter="true" data-input="#filterBasic-input" id="dataList">
   
</ul>
</body>
<script>
    //make an AJAX call to your PHP script
    $.getJSON('http://localhost/search.php', function (items) {
      $("#dataList").empty();
      $.each(items, function(i, item){
          $('#dataList').append( '<li>'+ item.name +'</li>' );
      });
      $('#dataList').listview('refresh');
    });

</script>